[class*=grid-] {
  width: 100%;
}

[class*=col-] {
  padding-top: 0;
  padding-bottom: 0;
}

.grid-4, .grid-4-base-2 {
  display: grid;
  grid-gap: 16px;
  grid-auto-columns: minmax(230px, auto);
}

.grid-4 {
  grid-template-columns: 1fr;
}

.grid-4-base-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-6-base-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  grid-auto-columns: minmax(230px, auto);
}

.grid-6 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

@media (min-width: 576px) {
  .grid-6-base-2 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) {
  .grid-4 {
    grid-template-columns: 0.5fr 0.5fr;
  }

  .grid-6 {
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
  }

  .grid-6-base-2 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 992px) {
  .grid-4, .grid-4-base-2 {
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
  }

  .grid-6 {
    grid-template-columns: 0.16fr 0.16fr 0.16fr 0.16fr 0.16fr 0.16fr;
  }

  .grid-6-base-2 {
    grid-template-columns: repeat(6, 1fr);
  }
}
.remove-last-border .border-bottom:last-child {
  border-bottom: 0px !important;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.border-left {
  border-left: 1px solid #dee2e6 !important;
}

.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.w-100 {
  width: 100% !important;
}

.more-radius-1 {
  border-radius: 1rem;
}

.single-order .footer {
  display: none;
  transition: all 0.2s;
}
.single-order:hover .footer {
  display: flex;
}

.single-order-meta {
  border-right: solid 1px #adb5bd;
}
.single-order-meta:last-of-type {
  border-right: none;
}
.single-order-meta .meta-display {
  display: none;
}
.single-order-meta .meta-status {
  display: block;
}
.single-order-meta:hover {
  flex: 1 1 auto !important;
}
.single-order-meta:hover .meta-display {
  display: flex;
}
.single-order-meta:hover .meta-status {
  display: none;
}

.dotted-spaced-bottom {
  background-image: linear-gradient(to right, #979494 10%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 15px 1px;
  background-repeat: repeat-x;
}

.v-input--checkbox .v-label {
  margin-bottom: 0;
}

.invisible {
  visibility: hidden !important;
}

.visible {
  visibility: visible !important;
}

.remove-last-border .v-divider:last-child {
  display: none;
}

.no-margin .v-skeleton-loader__bone.v-skeleton-loader__heading {
  margin: 0 auto !important;
}

.height-100 {
  height: 100%;
}

.window-height-100.v-window .v-window__container {
  height: 100%;
}
.window-height-100.v-window .v-window__container .v-window-item {
  height: 100%;
}

.appbar-extension-primary div.v-toolbar__extension, .primary-darken-10 {
  background-color: #e60e25;
}

.transparent .v-window.v-item-group.v-tabs-items {
  background-color: transparent;
}

.input-border-bottom {
  border: none;
  border-bottom: 2px solid;
  border-radius: 0;
}
.input-border-bottom:hover, .input-border-bottom:focus {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.option.active {
  background: #fcc4ca;
}

.image-container--16-9 {
  display: block;
  width: 100%;
  position: relative;
  height: 0;
  padding: 56.25% 0 0 0;
  overflow: hidden;
}
.image-container--16-9 img {
  position: absolute;
  display: block;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

a:hover {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-fill-available, .flex-fill-stretch {
  width: stretch;
}

.single-store-level-1.card:hover {
  background-color: #dfe0e1;
  box-shadow: 0.1em 0.1em 0.3em 0em #ccc;
}

.position-static {
  position: static !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-sticky {
  position: sticky !important;
}

@keyframes anim-glow-primary {
  0% {
    box-shadow: 0 0 #f33348;
  }
  100% {
    box-shadow: 0 0 10px 8px transparent;
    border-width: 2px;
  }
}
.glow-effect.primary {
  border-radius: 50%;
  border: 2px solid #f33348;
  width: 10px;
  height: 10px;
  text-align: center;
  position: relative;
  animation: anim-glow-primary 2s ease infinite;
}

@keyframes anim-glow-secondary {
  0% {
    box-shadow: 0 0 #6c757d;
  }
  100% {
    box-shadow: 0 0 10px 8px transparent;
    border-width: 2px;
  }
}
.glow-effect.secondary {
  border-radius: 50%;
  border: 2px solid #6c757d;
  width: 10px;
  height: 10px;
  text-align: center;
  position: relative;
  animation: anim-glow-secondary 2s ease infinite;
}

@keyframes anim-glow-success {
  0% {
    box-shadow: 0 0 #28a745;
  }
  100% {
    box-shadow: 0 0 10px 8px transparent;
    border-width: 2px;
  }
}
.glow-effect.success {
  border-radius: 50%;
  border: 2px solid #28a745;
  width: 10px;
  height: 10px;
  text-align: center;
  position: relative;
  animation: anim-glow-success 2s ease infinite;
}

@keyframes anim-glow-info {
  0% {
    box-shadow: 0 0 #17a2b8;
  }
  100% {
    box-shadow: 0 0 10px 8px transparent;
    border-width: 2px;
  }
}
.glow-effect.info {
  border-radius: 50%;
  border: 2px solid #17a2b8;
  width: 10px;
  height: 10px;
  text-align: center;
  position: relative;
  animation: anim-glow-info 2s ease infinite;
}

@keyframes anim-glow-warning {
  0% {
    box-shadow: 0 0 #ffc107;
  }
  100% {
    box-shadow: 0 0 10px 8px transparent;
    border-width: 2px;
  }
}
.glow-effect.warning {
  border-radius: 50%;
  border: 2px solid #ffc107;
  width: 10px;
  height: 10px;
  text-align: center;
  position: relative;
  animation: anim-glow-warning 2s ease infinite;
}

@keyframes anim-glow-danger {
  0% {
    box-shadow: 0 0 #dc3545;
  }
  100% {
    box-shadow: 0 0 10px 8px transparent;
    border-width: 2px;
  }
}
.glow-effect.danger {
  border-radius: 50%;
  border: 2px solid #dc3545;
  width: 10px;
  height: 10px;
  text-align: center;
  position: relative;
  animation: anim-glow-danger 2s ease infinite;
}

@keyframes anim-glow-light {
  0% {
    box-shadow: 0 0 #f8f9fa;
  }
  100% {
    box-shadow: 0 0 10px 8px transparent;
    border-width: 2px;
  }
}
.glow-effect.light {
  border-radius: 50%;
  border: 2px solid #f8f9fa;
  width: 10px;
  height: 10px;
  text-align: center;
  position: relative;
  animation: anim-glow-light 2s ease infinite;
}

@keyframes anim-glow-dark {
  0% {
    box-shadow: 0 0 #343a40;
  }
  100% {
    box-shadow: 0 0 10px 8px transparent;
    border-width: 2px;
  }
}
.glow-effect.dark {
  border-radius: 50%;
  border: 2px solid #343a40;
  width: 10px;
  height: 10px;
  text-align: center;
  position: relative;
  animation: anim-glow-dark 2s ease infinite;
}

/*# sourceMappingURL=shopper.css.map */
